/* ================ MEDIA QUERY ================  */

@media screen and (max-width: 768px) {

    footer {
        flex-direction: column;    
        align-items: center;
        justify-content: center;
    }
    
    form{
        width: 90%;        
    }
    
    iframe{
        width: 80%;
    }

    .section2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .imagen-fondo{
        background-attachment: scroll;
    }

}

@media screen and (min-width: 768px) {
    #carouselExampleControls{
        width: 500px
    }

    .container{
        max-width: 500px;
    }

}
